/*
  Author: Shivam Singla (A00429318)

  The purpose of this file is to provide styling to the different
  class and id elements. It is ordered starting with programmer
  defined class section, followed by programmer defined id section.
*/

/* programmer defined class section */

.ui-page,
.ui-header {
  background: #92bb94 !important;
}

.ui-block-a,
.ui-block-b {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* programmer defined id section */

#dropdown {
  margin: auto;
  width: fit-content;
}
