.ui-page,
.ui-header {
  background: #92bb94 !important;
}

.ui-block-a,
.ui-block-b {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#dropdown {
  margin: auto;
  width: fit-content;
}
