/*
    Authors: Shivam Singla (Group Leader) - 35 lines
             Mohammad Qureshi - 0 lines
             Nickieda Johnson - 0 lines
             Saransh Singh - 0 lines

    The purpose of this file is to provide styling to the different
    class and id elements. It is ordered starting with jQuery Mobile
    classes followed by programmer defined class section.
*/

/* jQuery Mobile classes              */
/* Background colour                  */
.ui-page,
.ui-header {
  background: #cedbce !important;
}

/* hide default slider text box      */
.ui-slider-input {
  display: none !important;
}

/* user-defined classes */
.readout {
  padding-left: 50px;
  width: 50px;
}

.bigReadout {
  padding-left: 50px;
  width: 75px;
}

.available {
  color: #3104fb;
}

.unavailable {
  color: #d2cbcd;
}
